// Variables
// font-family, size, weight
$ff-sans: inter, system-ui, sans-serif, arial;
$ff-serif: georgia, serif;
$ff-mono: 'IBM Plex Mono', system-ui, mono;

$fs-default: 18px;
$fs-header-large: 52px;
$fs-header-medium: 34px;
$fs-header-small: 26px;

$fw-default: 400;
$fw-medium: 600;
$fw-heavy: 800;

// line-height
$lh-default: 130%;
$lh-tall: 160%;

// colors
$color-default: #333;
$color-orange: #ee7100;
$color-orange-hover: #d86602;
$color-white: #fff;
$color-link: rgb(50, 104, 145);
$color-grey: #6d6d6d;

// box-shadows
$bs-default: -2px 20px 70px -27px rgba(0, 0, 0, 0.75);

// Mixins
// Vertical and horizontal center positioning
@mixin vh-positioning {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@mixin bg-image($url, $size: contain) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: $size;
}

// Layout
html {
  font-size: $fs-default;
  scroll-behavior: smooth;
  color: $color-default;
  font-weight: $fw-default;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $ff-sans;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
}

.primary-container {
  text-align: left;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.centered-container {
  width: 100%;
  text-align: center;
  margin: auto;
}

.medium-width-container {
  width: 100%;
  max-width: 760px;
}

.flex {
  justify-content: space-between;
  max-width: 1200px;
  display: flex;
}

.space-small {
  margin: 16px 0;
}

.space-medium {
  margin: 32px 0;
}

.space-large {
  margin: 64px 0;
}

.space-xlarge {
  margin: 128px 0;
}

// -- END LAYOUT

// Primary elements
h1,
h2,
h3 {
  line-height: $lh-default;
  margin: 8px 0;
}

h1 {
  font-size: $fs-header-large;
  font-weight: $fw-heavy;
}

h2 {
  font-size: $fs-header-medium;
  font-weight: $fw-heavy;
  margin: 8px 0;
}

h3 {
  font-size: $fs-header-small;
  font-weight: $fw-default;
  margin: 8px 0;
}

p {
  line-height: $lh-tall;
  margin: 8px 0;
}

a {
  color: $color-link;
  text-decoration-color: rgba(50, 104, 145, 0.3);

  &:hover {
    text-decoration-color: rgba(50, 104, 145, 0.6);
  }
}

button {
  cursor: pointer;
  background-color: $color-orange;
  font-family: $ff-sans;
  font-size: $fs-default;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  color: #000; // required for accessibility purposes (high contrast)
  margin: 26px 0;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-orange-hover;
  }
}

video {
  box-shadow: $bs-default;
  border-radius: 8px;
}

footer {
  padding-top: 60px;
  width: 100%;
  height: 300px;
  background-color: $color-default;

  p {
    opacity: 0.8;
    color: $color-white;
  }

  img {
    opacity: 0.8;
    margin-top: 20px;
    width: 180px;
  }
}

// -- END Primary elements

// Navigation
.nav {
  padding: 50px 0px 20px 0px;
  a {
    color: $color-default;
    padding-bottom: 8px;
    margin-right: 32px;
    text-decoration: none;
    display: inline-block;
    transition: border 0.15s ease-in-out;
    &:hover {
      border-bottom: 4px $color-orange solid;
    }
  }
}

.selected {
  border-bottom: 4px $color-orange solid;
}

.nav-content {
  display: block;
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.small-caps {
  text-transform: uppercase;
  font-family: $ff-mono;
}
// -- END NAVIGATION

// Hero
.hero-container {
  position: relative;
  padding: 16px;
  max-width: 1200px;
  height: 550px;
  margin: auto;
  background-color: #3b3b3b;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 8px;
  box-shadow: $bs-default;

  .hero-flex {
    justify-content: space-between;
    display: flex;
    height: 400px;
    width: 90%;
    @include vh-positioning;
  }

  .hero-text {
    position: relative;
    height: 100%;
    width: 46%;
    text-align: left;
    h1, h3 {
      color: $color-white;
    }
  }

  .absolute-text {
    height: 350px;
    @include vh-positioning;
    margin: auto;
    h2 {
      font-size: $fs-header-small;
      font-weight: $fw-default;
      color: $color-white;
    }
  }

  .hero-image {
    width: 50%;
    height: auto;
    @include bg-image('https://moab.imgix.net/renderings/moab-rendering-example.png?auto=compress&h=600');
    background-position-y: 30%;
  }

  img {
    width: 100%;
    margin-top: 32px;
    min-height: 100%;
    max-width: 800px;
    background-color: lightgrey;
    height: auto;
  }
}

.inline-icon {
  height: 1em !important;
  width: 1em !important;
  background-color: transparent !important;
  padding-right: 6px;
}
// -- END HERO

// Accomodates large shadow on moab-unboxed image
.full-width-image {
  width: 100%;
  margin: -140px 0px;
}

.left-text {
  width: 40%;
}

.right-video-player {
  cursor: pointer;
  height: 350px;
  margin-top: 20px;
  width: 55%;
}

.section-icon {
  width: 3em;
  margin: 8px 0px;
}

.no-style-link {
  color: inherit;
  text-decoration: none;
}

.tutorial-card-container {
  cursor: pointer;
  width: 31%;
  height: auto;
  min-height: 420px;
  box-shadow: $bs-default;
  border-radius: 8px;
  transition: transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  &:hover {
    transform: scale(1.02, 1.02);
  }

  .tutorial-card-image {
    height: 180px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .tutorial-1 {
    @include bg-image('https://moab.imgix.net/renderings/moab-rendering-example.png?auto=compress&h=300', cover);
  }

  .tutorial-2 {
    @include bg-image('https://moab.imgix.net/dropbox/ASSETS/Web%20site/homepage/tutorials-home.png?auto=compress,format&h=300', cover);
  }

  .tutorial-3 {
    @include bg-image('https://moab.imgix.net/renderings/iso-dark.png?auto=compress,format&h=300', cover);
  }

  .tutorial-card-content {
    padding: 20px;
    p {
      color: $color-grey;
    }
  }


}

.list-toggles {
  text-align: left;
  p {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 4px 0px;
    margin: 8px 0px;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color;
    &:hover {
      color: $color-orange-hover;
    }
  }
}

.product-image {
  width: 80%;
  height: 600px;
  margin-top: -40px; // product images have extra white space, so pulling the image up slightly
  @include bg-image('https://moab.imgix.net/topdown/m2.jpg?auto=compress,format&h=500');
}

.selected-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: #eeeeee;
  border-radius: 50%;
}

// Media Queries
@media (max-width: 860px) {
  .space-xlarge {
    margin: 80px 0;
  }

  .space-large {
    margin: 40px 0;
  }

  .flex {
    flex-direction: column;
  }

  .left-text {
    width: 100%;
  }

  .right-video-player {
    margin-top: 16px;
    width: 100%;
    height: auto;
  }

  .hero-container .hero-flex {
    border-radius: 0px;
    margin-top: 30px;
    position: relative;
    flex-direction: column-reverse;

    .hero-text {
      width: 100%;
    }

    .hero-image {
      width: 100%;
      height: 500px;
      margin-bottom: 120px;
    }
  }

  .full-width-image {
    width: 100%;
    margin: -80px 0px -40px 0px;
  }

  .tutorial-card-container {
    width: 100%;
    margin-bottom: 40px;
  }

  .product-image {
    width: 100%;
    height: 500px;
  }

  .list-toggles {
    width: 200px;
    margin: auto;
  }

  // Controls stacking order for Features section
  .flex-reverse {
    flex-direction: column-reverse; 
  }

  .mobile-hide {
    display: none;
  }

  .list-toggles p {
    margin: 0px 0px;
  }

  .nav {
    padding: 30px 0px 0px 0px;
    a {
      margin-right: 16px;
      &:last-of-type {
        margin-right: 0px;
      }
    }

  }
}

// Special edge case for video player
@media (min-width: 860px) and (max-width: 1100px) {
  .right-video-player {
    margin-top: 80px;
    width: 500px;
    height: 300px;
  }
}

// mobile
@media (max-width: 480px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }
  
  .hero-container .hero-flex {
    height: auto;
  }

  .hero-container .hero-flex .hero-image {
    width: 200px;
    height: 140px;
    margin: auto;
    margin-bottom: 20px;
  }

  .hero-container .hero-flex .hero-text {
    text-align: center;
    display: block;
    height: 100%;
  }

  .hero-container .absolute-text {
    position: relative;
    height: 100%;
  }

  .hero-container {
    border-radius: 0px;
    height: auto;
  }

  .product-image {
    height: 300px;
  }
}
