* {
  color: #333333;
  font-weight: 400;
}

body {
  font-family: Inter, system-ui, sans-serif, Arial;
  padding: 0;
  margin: 0;
}

.primary-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.centered-container {
  width: 100%;
  text-align: center;
  margin: auto;
}

.medium-width-container {
  width: 100%;
  max-width: 760px;
}

.nav {
  padding: 50px 0px 20px 0px;
}

.nav a {
  color: #333333;
  font-size: 18px;
  padding-bottom: 8px;
  margin-right: 32px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.nav a:hover {
  border-bottom: 4px #ee7100 solid;
}

.selected {
  border-bottom: 4px #ee7100 solid;
}

.nav-content {
  display: block;
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

h1 {
  font-family: "IBM Plex Mono", mono;
  font-size: 52px;
  font-weight: 800;
  line-height: 130%;
  margin: 8px 0;
}

h2 {
  font-size: 34px;
  font-weight: 800;
  line-height: 130%;
  margin: 8px 0;
}

h3 {
  font-size: 26px;
  font-weight: 400;
  line-height: 130%;
  margin: 8px 0;
}

p {
  font-size: 18px;
  line-height: 160%;
  margin: 8px 0;
}

a {
  color: #326891;
  -webkit-text-decoration-color: rgba(50, 104, 145, 0.3);
          text-decoration-color: rgba(50, 104, 145, 0.3);
}

a:hover {
  -webkit-text-decoration-color: rgba(50, 104, 145, 0.6);
          text-decoration-color: rgba(50, 104, 145, 0.6);
}

.small-caps {
  text-transform: uppercase;
  font-family: "IBM Plex Mono", mono;
}

button {
  cursor: pointer;
  font-size: 18px;
  font-family: Inter, system-ui, sans-serif, Arial;
  background-color: #ee7100;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  color: white;
  margin: 26px 0px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d86602;
}

.flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-small {
  margin: 16px 0px;
}

.space-medium {
  margin: 32px 0px;
}

.space-large {
  margin: 64px 0px;
}

.space-xlarge {
  margin: 128px 0px;
}

.hero-container {
  position: relative;
  padding: 16px;
  max-width: 1200px;
  height: 550px;
  margin: auto;
  background-color: #3b3b3b;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 8px;
  -webkit-box-shadow: -2px 20px 70px -27px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 20px 70px -27px rgba(0, 0, 0, 0.75);
}

.hero-container .hero-flex {
  height: 400px;
  width: 90%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.hero-container h1 {
  letter-spacing: -1px;
}

.hero-container h3 {
  max-width: 620px;
  margin: auto;
}

.hero-container .hero-text {
  position: relative;
  height: 100%;
  width: 46%;
  text-align: left;
}

.hero-container .hero-text h1, .hero-container .hero-text h3 {
  color: #ffffff;
}

.hero-container .absolute-text {
  height: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.hero-container .hero-image {
  width: 50%;
  height: auto;
  background-image: url("../moab-rendering-example.png");
  background-size: contain;
  background-position-y: 30%;
  background-repeat: no-repeat;
}

.hero-container img {
  width: 100%;
  margin-top: 32px;
  min-height: 100%;
  max-width: 800px;
  background-color: lightgrey;
  height: auto;
}

.full-width-image {
  width: 100%;
}

.left-text {
  width: 38%;
}

.right-bg-image {
  cursor: pointer;
  position: relative;
  background-color: #eeeeee;
  background-image: url("https://moab.imgix.net/dropbox/ASSETS/Photos%20&%20Video/Process%20Photos/071_CAD%20Design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 55%;
  border-radius: 8px;
  -webkit-box-shadow: -2px 20px 70px -27px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 20px 70px -27px rgba(0, 0, 0, 0.75);
}

.right-video-player {
  position: relative;
  cursor: pointer;
  height: auto;
  width: 55%;
}

.right-video-player video {
  -webkit-box-shadow: -2px 20px 70px -27px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 20px 70px -27px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.play-button {
  display: block;
  width: 120px;
  height: 120px;
  background-image: url("../play-button.svg");
  background-position: center;
  background-size: contain;
  position: absolute;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.section-icon {
  width: 3em;
  margin: 8px 0px;
}

.tutorial-card-container {
  cursor: pointer;
  width: 32%;
  height: auto;
  min-height: 420px;
  -webkit-box-shadow: -2px 20px 70px -27px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 20px 70px -27px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s, -webkit-box-shadow 150ms ease 0s;
  transition: -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s, -webkit-box-shadow 150ms ease 0s;
  transition: transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s, box-shadow 150ms ease 0s;
  transition: transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s, box-shadow 150ms ease 0s, -webkit-transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s, -webkit-box-shadow 150ms ease 0s;
}

.tutorial-card-container:hover {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
}

.tutorial-card-container .tutorial-card-content {
  padding: 20px;
}

.tutorial-card-container .tutorial-card-content p {
  color: #6d6d6d;
}

.tutorial-card-container .tutorial-card-image {
  background-color: #6d6d6d;
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.tutorial-card-container .tutorial-1 {
  background-image: url("../moab-rendering-example.png");
}

.tutorial-card-container .tutorial-2 {
  background-image: url("https://moab.imgix.net/dropbox/ASSETS/Web%20site/homepage/tutorials-home.png");
}

.tutorial-card-container .tutorial-3 {
  background-image: url("https://moab.imgix.net/renderings/iso-dark.png");
}
/*# sourceMappingURL=index.css.map */