// Variables
// font-family, size, weight
$ff-sans: Inter, system-ui, sans-serif, Arial;
$ff-serif: Georgia, serif;
$ff-mono: 'IBM Plex Mono', mono;

$fs-default: 18px;
$fs-header-large: 52px;
$fs-header-medium: 34px;
$fs-header-small: 26px;

$fw-default: 400;
$fw-medium: 600;
$fw-heavy: 800;

// line-height
$lh-default: 130%;
$lh-tall: 160%;

// colors
$color-default: #333333;
$color-orange: #ee7100;
  $color-orange-hover: #d86602;
$color-white: #ffffff;
$color-link: rgb(50, 104, 145);
$color-grey: #6d6d6d;

// box-shadows
$bs-default: -2px 20px 70px -27px rgba(0,0,0,0.75);

// END Variables -----

// Layout
* {
  color: $color-default;
  font-weight: $fw-default;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $ff-sans;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
}

.primary-container {
  text-align: left;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.centered-container {
  width: 100%;
  text-align: center;
  margin: auto;
}

.medium-width-container {
  width: 100%;
  max-width: 760px;
}

.flex {
  justify-content: space-between;
  max-width: 1200px;
  display: flex;
}

.space-small {
  margin: 16px 0px;
}

.space-medium {
  margin: 32px 0px;
}

.space-large {
  margin: 64px 0px;
}

.space-xlarge {
  margin: 128px 0px;
}

.nav {
  padding: 50px 0px 20px 0px;
  a {
    color: $color-default;
    font-size: $fs-default;
    padding-bottom: 8px;
    margin-right: 32px;
    text-decoration: none;
    display: inline-block;
    transition: border 0.15s ease-in-out;
    &:hover {
      border-bottom: 4px $color-orange solid;
    }
  }
}

.selected {
  border-bottom: 4px $color-orange solid;
}

.nav-content {
  display: block;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

// Primary elements
h1 {
  font-family: $ff-mono;
  font-size: $fs-header-large;
  font-weight: $fw-heavy;
  line-height: $lh-default;
  margin: 8px 0;
}

h2 {
  font-size: $fs-header-medium;
  font-weight: $fw-heavy;
  line-height: $lh-default;
  margin: 8px 0;
}

h3 {
  font-size: $fs-header-small;
  font-weight: $fw-default;
  line-height: $lh-default;
  margin: 8px 0;
}

p {
  font-size: $fs-default;
  line-height: $lh-tall;
  margin: 8px 0;
}

a {
  font-size: inherit;
  color: $color-link;
  text-decoration-color: rgba(50, 104, 145, 0.3);
  &:hover {
    text-decoration-color: rgba(50, 104, 145, 0.6);
  }
}

// -- END Primary elements

.small-caps {
  text-transform: uppercase;
  font-family: $ff-mono;
}

button {
  cursor: pointer;
  font-size: $fs-default;
  font-family: $ff-sans;
  background-color: $color-orange;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  color: white;
  margin: 26px 0px;
  transition: background-color 0.3s ease; 
  &:hover {
    background-color: $color-orange-hover;
  }
}

.inline-icon {
  height: 1em;
  padding-right: 6px;
}

// hero
.hero-container {
  position: relative;
  padding: 16px;
  max-width: 1200px;
  height: 550px;
  margin: auto;
  background-color: #3b3b3b;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 8px;
  -webkit-box-shadow: $bs-default;
  -moz-box-shadow: $bs-default;
  box-shadow: $bs-default;

  .hero-flex {
    justify-content: space-between;
    max-width: 1200px;
    display: flex;
    height: 400px;
    width: 90%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .hero-text {
    position: relative;
    height: 100%;
    width: 46%;
    text-align: left;
    h1, h3 {
      color: $color-white;
    }
  }

  .absolute-text {
    height: 280px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .hero-image {
    width: 50%;
    height: auto;
    background-image: url('../images/moab-rendering-example.png');
    background-size: contain;
    background-position-y: 30%;
    background-repeat: no-repeat;
  }

  img {
    width: 100%;
    margin-top: 32px;
    min-height: 100%;
    max-width: 800px;
    background-color: lightgrey;
    height: auto;
  }
}

.full-width-image {
  width: 100%;
  margin: -140px 0px;
}

.left-text {
  width: 38%;
}

.right-bg-image {
  cursor: pointer;
  position: relative;
  background-color: #eeeeee;
  background-image: url('https://moab.imgix.net/dropbox/ASSETS/Photos%20&%20Video/Process%20Photos/071_CAD%20Design.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 55%;
  border-radius: 8px;
  -webkit-box-shadow: $bs-default;
  -moz-box-shadow: $bs-default;
  box-shadow: $bs-default;
}

.right-video-player {
  position: relative;
  cursor: pointer;
  height: 350px;
  width: 650px;
  transition: transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s, box-shadow 150ms ease 0s;
  &:hover {
    transform: scale(1.02, 1.02);
  }
  video {
    -webkit-box-shadow: $bs-default;
    -moz-box-shadow: $bs-default;
    box-shadow: $bs-default;
    border-radius: 8px;
  }
}

.play-button {
  display: block;
  width: 120px;
  height: 120px;
  background-image: url('../images/play-button.svg');
  background-position: center;
  background-size: contain;
  position: absolute;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.section-icon {
  width: 3em;
  margin: 8px 0px;
}

.no-style-link {
  text-decoration: none;
}

.tutorial-card-container {
  cursor: pointer;
  width: 32%;
  height: auto;
  min-height: 420px;
  -webkit-box-shadow: $bs-default;
  -moz-box-shadow: $bs-default;
  box-shadow: $bs-default;
  border-radius: 8px;
  transition: transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s, box-shadow 150ms ease 0s;
  &:hover {
    transform: scale(1.02, 1.02);
  }

  .tutorial-card-content {
    padding: 20px;
    p {
      color: $color-grey;
    }
  }

  .tutorial-card-image {
    background-color: $color-grey;
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .tutorial-1 {
    background-image: url('../images/moab-rendering-example.png');
  }

  .tutorial-2 {
    background-image: url('https://moab.imgix.net/dropbox/ASSETS/Web%20site/homepage/tutorials-home.png?auto=compress,format&h=300');
  }

  .tutorial-3 {
    background-image: url('https://moab.imgix.net/renderings/iso-dark.png?auto=compress,format&h=300');
  }
}

.list-toggles {
  text-align: left;
  p {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 4px 0px;
    margin: 16px 0px;
    transition: all 0.2s ease-in-out;
    transition-property: color, background-color;
    &:hover {
      color: $color-orange-hover;
    }
  }
}

.product-image {
  width: 90%;
  height: 600px;
  background-image: url('https://moab.imgix.net/topdown/m2.jpg?auto=compress,format&h=500');
  background-size: contain;
  background-repeat: no-repeat;
}

.selected-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: #eeeeee;
  border-radius: 50%;
}

@media (max-width: 860px) {
  .centered-container {
    text-align: left;
  }

  .space-xlarge {
    margin: 80px 0px;
  }

  .space-large {
    margin: 40px 0px;
  }

  .flex {
    flex-direction: column;
  }

  .left-text {
    width: 100%;
  }

  .right-video-player {
    margin-top: 16px;
    width: 100%;
    height: auto;
  }

  .hero-container .hero-flex {
    margin-top: 30px;
    position: relative;
    flex-direction: column-reverse;

    .hero-text {
      width: 100%;
    }

    .hero-image {
      width: 100%;
      height: 500px;
      margin-bottom: 60px;
    }
  }

  .full-width-image {
    width: 100%;
    margin: -80px 0px -40px 0px;
  }

  .tutorial-card-container {
    width: 100%;
    margin-bottom: 24px;
  }

  .product-image {
    width: 100%;
    height: 400px;
  }

  .list-toggles {
    width: 200px;
    margin: auto;
  }

  .flex-reverse {
    flex-direction: column-reverse; 
  }

  .mobile-hide {
    display: none;
  }

  .list-toggles p {
    margin: 0px 0px;
  }

  .nav {
    padding: 30px 0px 0px 0px;
    a {
      margin-right: 16px;
      font-size: 16px;
      &:last-of-type {
        margin-right: 0px;
      }
    }

  }
}

// Special edge case for video player
@media (min-width: 860px) and (max-width: 1100px) {
  .right-video-player {
    margin-top: 80px;
    width: 500px;
    height: 300px;
  }
}

// mobile
@media (max-width: 480px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }
  
  .hero-container .hero-flex {
    height: auto;
  }

  .hero-container .hero-flex .hero-image {
    width: 200px;
    height: 140px;
    margin: auto;
    margin-bottom: 20px;
  }

  .hero-container .hero-flex .hero-text {
    text-align: center;
    display: block;
    height: 100%;
  }

  .hero-container .absolute-text {
    position: relative;
    height: 100%;
  }

  .hero-container {
    height: auto;
    max-height: 550px;
  }

  .product-image {
    height: 300px;
  }
  
}